version: 6.5.2

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - roles

definitions:
  streams:
    roles:
      type: DeclarativeStream
      name: roles
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v2/roles
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/roles"
    groups:
      type: DeclarativeStream
      name: groups
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v2/groups
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/groups"
    groups_agents:
      type: DeclarativeStream
      name: groups_agents
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v2/admin/groups/{{stream_partition['group_id']}}/agents
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            inject_on_first_request: false
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: group_id
              stream:
                $ref: "#/definitions/streams/groups"
      transformations:
        - type: AddFields
          fields:
            - path:
                - group_id
              value: "{{stream_partition['group_id']}}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/groups_agents"
    agents:
      type: DeclarativeStream
      name: agents
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v2/agents
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/agents"
  base_requester:
    type: HttpRequester
    url_base: https://{{config['domain']}}
    authenticator:
      type: BasicHttpAuthenticator
      password: "{{ config[\"password\"] }}"
      username: "{{ config[\"username\"] }}"

streams:
  - $ref: "#/definitions/streams/roles"
  - $ref: "#/definitions/streams/groups"
  - $ref: "#/definitions/streams/groups_agents"
  - $ref: "#/definitions/streams/agents"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - domain
      - username
    properties:
      domain:
        type: string
        order: 0
        title: domain
      username:
        type: string
        order: 1
        title: Username
      password:
        type: string
        order: 2
        title: Password
        always_show: true
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    roles: true
    groups: true
    groups_agents: true
    agents: true
  testedStreams:
    roles:
      hasRecords: true
      streamHash: 654cccf362f0c3127e3634f1d6e5571c942d90f7
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    groups:
      hasRecords: true
      streamHash: fd84636819922b2f245dde7fcde98d197a14855c
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    groups_agents:
      hasRecords: true
      streamHash: 134cae3def6ef6dd862e9edd6da8c82ddf70e56c
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    agents:
      streamHash: ff68cfde62e5b73e135b373d8e366d94524960ca
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  roles:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      agent_type:
        type:
          - number
          - "null"
      created_at:
        type:
          - string
          - "null"
      default:
        type:
          - boolean
          - "null"
      id:
        type:
          - number
          - "null"
      name:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
  groups:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      agent_availability_status:
        type:
          - boolean
          - "null"
      auto_ticket_assign:
        type:
          - number
          - "null"
      business_hour_id:
        type:
          - number
          - "null"
      created_at:
        type:
          - string
          - "null"
      group_type:
        type:
          - string
          - "null"
      id:
        type:
          - number
          - "null"
      name:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
  groups_agents:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      contact:
        type:
          - object
          - "null"
        properties:
          avatar:
            type:
              - object
              - "null"
          email:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      created_at:
        type:
          - string
          - "null"
      deactivated:
        type:
          - boolean
          - "null"
      group_id:
        type:
          - number
          - "null"
      id:
        type:
          - number
          - "null"
      role_ids:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      ticket_scope:
        type:
          - number
          - "null"
      updated_at:
        type:
          - string
          - "null"
      write_access:
        type:
          - boolean
          - "null"
  agents:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      available:
        type:
          - boolean
          - "null"
      contact:
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          created_at:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          language:
            type:
              - string
              - "null"
          last_login_at:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          time_zone:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
      created_at:
        type:
          - string
          - "null"
      deactivated:
        type:
          - boolean
          - "null"
      focus_mode:
        type:
          - boolean
          - "null"
      id:
        type:
          - number
          - "null"
      last_active_at:
        type:
          - string
          - "null"
      occasional:
        type:
          - boolean
          - "null"
      signature:
        type:
          - string
          - "null"
      ticket_scope:
        type:
          - number
          - "null"
      updated_at:
        type:
          - string
          - "null"
