version: 6.5.2

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - repositories

definitions:
  streams:
    repositories:
      type: DeclarativeStream
      name: repositories
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /repositories/{{config['workspace_name']}}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - values
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - type
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/repositories"
    workspace_membership:
      type: DeclarativeStream
      name: workspace_membership
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /workspaces/{{config['workspace_name']}}/permissions
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - values
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - type
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/workspace_membership"
    repository_permission:
      type: DeclarativeStream
      name: repository_permission
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /workspaces/{{config['workspace_name']}}/permissions/repositories
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - values
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - type
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/repository_permission"
    projects:
      type: DeclarativeStream
      name: projects
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /workspaces/{{config['workspace_name']}}/projects
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - values
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - type
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/projects"
    webhooks:
      type: DeclarativeStream
      name: webhooks
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /workspaces/{{config['workspace_name']}}/hooks
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - values
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - type
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/webhooks"
  base_requester:
    type: HttpRequester
    url_base: https://api.bitbucket.org/2.0
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/repositories"
  - $ref: "#/definitions/streams/workspace_membership"
  - $ref: "#/definitions/streams/repository_permission"
  - $ref: "#/definitions/streams/projects"
  - $ref: "#/definitions/streams/webhooks"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - workspace_name
      - api_key
    properties:
      workspace_name:
        type: string
        order: 0
        title: Workspace name
      api_key:
        type: string
        order: 1
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    repositories: true
    workspace_membership: true
    repository_permission: true
    projects: true
    webhooks: true
  testedStreams:
    repositories:
      hasRecords: true
      streamHash: 729a76c1730f66e1aab243d0bba0ff458b9b44cc
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    workspace_membership:
      hasRecords: true
      streamHash: 4bba38134c2b2d25f1d0774599d1e30268979868
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    repository_permission:
      hasRecords: true
      streamHash: f375a5d7aebdbbf248c1844dbe85bd606a737e42
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    projects:
      hasRecords: true
      streamHash: 047bd6dc9ea7c22e397670d5e8a6414ec64f1404
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    webhooks:
      streamHash: cc94f8c7e2c9ec2b7ec51236b8f8ace76ad9f61c
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: false
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  repositories:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      created_on:
        type:
          - string
          - "null"
      fork_policy:
        type:
          - string
          - "null"
      full_name:
        type:
          - string
          - "null"
      is_private:
        type:
          - boolean
          - "null"
      language:
        type:
          - string
          - "null"
      links:
        type:
          - object
          - "null"
        properties:
          avatar:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
          branches:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
          clone:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
          commits:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
          downloads:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
          forks:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
          hooks:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
          html:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
          pullrequests:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
          self:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
          source:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
          tags:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
          watchers:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
      mainbranch:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      name:
        type:
          - string
          - "null"
      override_settings:
        type:
          - object
          - "null"
        properties:
          branching_model:
            type:
              - boolean
              - "null"
          default_merge_strategy:
            type:
              - boolean
              - "null"
      owner:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          display_name:
            type:
              - string
              - "null"
          links:
            type:
              - object
              - "null"
            properties:
              avatar:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
              html:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
              self:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
          username:
            type:
              - string
              - "null"
          uuid:
            type:
              - string
              - "null"
      parent:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          full_name:
            type:
              - string
              - "null"
          links:
            type:
              - object
              - "null"
            properties:
              avatar:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
              html:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
              self:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
          name:
            type:
              - string
              - "null"
          uuid:
            type:
              - string
              - "null"
      project:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          key:
            type:
              - string
              - "null"
          links:
            type:
              - object
              - "null"
            properties:
              avatar:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
              html:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
              self:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
          name:
            type:
              - string
              - "null"
          uuid:
            type:
              - string
              - "null"
      scm:
        type:
          - string
          - "null"
      size:
        type:
          - number
          - "null"
      slug:
        type:
          - string
          - "null"
      updated_on:
        type:
          - string
          - "null"
      uuid:
        type:
          - string
          - "null"
      workspace:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          links:
            type:
              - object
              - "null"
            properties:
              avatar:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
              html:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
              self:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
          name:
            type:
              - string
              - "null"
          slug:
            type:
              - string
              - "null"
          uuid:
            type:
              - string
              - "null"
  workspace_membership:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      links:
        type:
          - object
          - "null"
        properties:
          self:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
      permission:
        type:
          - string
          - "null"
      user:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          account_id:
            type:
              - string
              - "null"
          display_name:
            type:
              - string
              - "null"
          links:
            type:
              - object
              - "null"
            properties:
              avatar:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
              html:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
              self:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
          nickname:
            type:
              - string
              - "null"
          uuid:
            type:
              - string
              - "null"
      workspace:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          links:
            type:
              - object
              - "null"
            properties:
              avatar:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
              html:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
              self:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
          name:
            type:
              - string
              - "null"
          slug:
            type:
              - string
              - "null"
          uuid:
            type:
              - string
              - "null"
  repository_permission:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      permission:
        type:
          - string
          - "null"
      repository:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          full_name:
            type:
              - string
              - "null"
          links:
            type:
              - object
              - "null"
            properties:
              avatar:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
              html:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
              self:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
          name:
            type:
              - string
              - "null"
          uuid:
            type:
              - string
              - "null"
      user:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          account_id:
            type:
              - string
              - "null"
          display_name:
            type:
              - string
              - "null"
          links:
            type:
              - object
              - "null"
            properties:
              avatar:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
              html:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
              self:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
          nickname:
            type:
              - string
              - "null"
          uuid:
            type:
              - string
              - "null"
  projects:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_on:
        type:
          - string
          - "null"
      has_publicly_visible_repos:
        type:
          - boolean
          - "null"
      is_private:
        type:
          - boolean
          - "null"
      key:
        type:
          - string
          - "null"
      links:
        type:
          - object
          - "null"
        properties:
          avatar:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
          html:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
          repositories:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
          self:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
      name:
        type:
          - string
          - "null"
      owner:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          display_name:
            type:
              - string
              - "null"
          links:
            type:
              - object
              - "null"
            properties:
              avatar:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
              html:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
              self:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
          username:
            type:
              - string
              - "null"
          uuid:
            type:
              - string
              - "null"
      updated_on:
        type:
          - string
          - "null"
      uuid:
        type:
          - string
          - "null"
      workspace:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          links:
            type:
              - object
              - "null"
            properties:
              avatar:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
              html:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
              self:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
          name:
            type:
              - string
              - "null"
          slug:
            type:
              - string
              - "null"
          uuid:
            type:
              - string
              - "null"
  webhooks:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
